html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

body {
  background-image: url("../images/bg.jpeg");
  height: auto;
  /* width:1200px; */ }

.container {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto; }
  .container::after {
    clear: both;
    content: "";
    display: table; }

.boxes {
  display: inline-block;
  float: right; }

.boxes li {
  width: 60px;
  height: 60px;
  display: inline-block;
  list-style: none;
  background-color: red; }

.navigate {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .navigate:last-child {
    margin-right: 0; }

.nav {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  background-color: red;
  text-align: center;
  color: white; }
  .nav:last-child {
    margin-right: 0; }

.top-image {
  background-image: url("../images/top-image.png");
  border-width: 5px solid white; }

.articles {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .articles:last-child {
    margin-right: 0; }

.tony-hawk,
.rodney-mullen,
.ray-barbee {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  background-color: white;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px; }
  .tony-hawk:last-child,
  .rodney-mullen:last-child,
  .ray-barbee:last-child {
    margin-right: 0; }

button {
  color: red; }

.skateboarders {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .skateboarders:last-child {
    margin-right: 0; }

.sk8er-1 {
  background-image: url("../images/sk8er-1.png");
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  .sk8er-1:last-child {
    margin-right: 0; }

.sk8er-2 {
  background-image: url("../images/sk8er-2.png");
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  .sk8er-2:last-child {
    margin-right: 0; }

.sk8er-3 {
  background-image: url("../images/sk8er-3.png");
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%; }
  .sk8er-3:last-child {
    margin-right: 0; }

.sk8er-4 {
  background-image: url("../images/sk8er-4.png");
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  .sk8er-4:last-child {
    margin-right: 0; }

.skateboards {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  background-color: white; }
  .skateboards:last-child {
    margin-right: 0; }

.skateboards img {
  padding: 18px; }

footer {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  background-color: white;
  margin-top: 20px;
  padding: 20px; }
  footer:last-child {
    margin-right: 0; }

.contact-us {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  .contact-us:last-child {
    margin-right: 0; }

.contact-info {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  .contact-info:last-child {
    margin-right: 0; }
